/*
Theme Name: Jeff Cooper Design
Theme URI: https://wordpress.org/themes/twentytwentythree
Author: the WordPress team
Author URI: https://wordpress.org
Description: Twenty Twenty-Three is designed to take advantage of the new design tools introduced in WordPress 6.1. With a clean, blank base as a starting point, this default theme includes ten diverse style variations created by members of the WordPress community. Whether you want to build a complex or incredibly simple website, you can do it quickly and intuitively through the bundled styles or dive into creation and full customization yourself.
Requires at least: 6.1
Tested up to: 6.3
Requires PHP: 5.6
Version: 1.2
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: jeffcooperdesign
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, style-variations, accessibility-ready, blog, portfolio, news
*/

.website-card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 0px 0px #d3dbe3;
    margin: 0;
    border-radius: 0px;
    padding: 8px 20px;
}
.website-card h1 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.website-card h2 {
    font-size: 18px;
    color: #000000;
    font-family: var(--wp--preset--font-family--source-sans-3);
}
.website-card h3 {
    font-size: 18px;
    color: #000000;
    font-family: var(--wp--preset--font-family--source-sans-3);
}
.wp-block-lazyblock-website-card a {
    text-decoration: none;
}