.wpforms-container {background: #fff;padding: 40px 25px;border: 1px solid #00000020;border-radius: 2px;}
.wpforms-confirmation-container {background: #5cb85c;color: #fff;}
.wpforms-confirmation-container {background: #5cb85c;color: #fff;padding: 15px 25px;border-radius: 2px;}
.wpforms-confirmation-container p {margin: 0;}
/** WPFORMS WPFORMSLABEL **/
.wpforms-form .wpforms-field-label {font-weight: 600;margin: 0px 0px 10px 0px;}
.wpforms-required-label {color: #CA1E47;}
.wpforms-field {margin: 0 0px 20px 0;border: 0px;}

/* New button styles */
.wpforms-form input[type=submit], .wpforms-form button[type=submit] {padding: 10px 15px;background-color: #0074E3;color: #fff;border: 0px solid #0074E3;border-radius: 2px;}
/* New button hover styles */
.wpforms-form input[type=submit]:hover, .wpforms-form input[type=submit]:active, .wpforms-form button[type=submit]:hover, .wpforms-form button[type=submit]:active, .wpforms-form .wpforms-page-button:hover, .wpforms-form .wpforms-page-button:active {background-color: #0069cc;border: 0px solid #0069cc;}
/* New button focus styles */
.wpforms-form input[type=submit]:focus, .wpforms-form button[type=submit]:focus, .wpforms-form .wpforms-page-button:focus {background-color: #0069cc;border: 0px solid #0069cc;outline: 0;box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);}

.wpforms-form input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {display: block;width: 100%;padding: 0.475rem 0.75rem;font-size: 1rem;line-height: 1.5;color: #29394e;background-color: #fff;background-clip: padding-box;border: 1px solid #ced6e0;border-radius: 2px;-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;}
.wpforms-form input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {color: #495057;background-color: #fff;border-color: #4285f4;outline: 0;box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);}

.wpforms-error {color: #dc3545;display: block;}

div.wpforms-container .wpforms-form .wpforms-field-row {margin-bottom: 8px;position: relative;}
div.wpforms-container .wpforms-form .wpforms-field .wpforms-field-row:last-of-type {margin-bottom: 0;}
div.wpforms-container .wpforms-form .wpforms-field-row:before {content: " ";display: table;}
div.wpforms-container .wpforms-form .wpforms-field-row:after {clear: both;content: " ";display: table;}
div.wpforms-container .wpforms-form .wpforms-field-address .wpforms-one-half:only-child {margin-left: 0;}
div.wpforms-container .wpforms-form .wpforms-five-sixths, div.wpforms-container .wpforms-form .wpforms-four-sixths, div.wpforms-container .wpforms-form .wpforms-four-fifths, div.wpforms-container .wpforms-form .wpforms-one-fifth, div.wpforms-container .wpforms-form .wpforms-one-fourth, div.wpforms-container .wpforms-form .wpforms-one-half, div.wpforms-container .wpforms-form .wpforms-one-sixth, div.wpforms-container .wpforms-form .wpforms-one-third, div.wpforms-container .wpforms-form .wpforms-three-fourths, div.wpforms-container .wpforms-form .wpforms-three-fifths, div.wpforms-container .wpforms-form .wpforms-three-sixths, div.wpforms-container .wpforms-form .wpforms-two-fourths, div.wpforms-container .wpforms-form .wpforms-two-fifths, div.wpforms-container .wpforms-form .wpforms-two-sixths, div.wpforms-container .wpforms-form .wpforms-two-thirds {float: left;margin-left: 4%;clear: none;}
div.wpforms-container .wpforms-form .wpforms-one-half, div.wpforms-container .wpforms-form .wpforms-three-sixths, div.wpforms-container .wpforms-form .wpforms-two-fourths {width: 48%;}
div.wpforms-container .wpforms-form .wpforms-one-third, div.wpforms-container .wpforms-form .wpforms-two-sixths {width: 30.6666666667%;}
div.wpforms-container .wpforms-form .wpforms-four-sixths, div.wpforms-container .wpforms-form .wpforms-two-thirds {width: 65.3333333333%;}
div.wpforms-container .wpforms-form .wpforms-one-fourth {width: 22%;}
div.wpforms-container .wpforms-form .wpforms-three-fourths {width: 74%;}
div.wpforms-container .wpforms-form .wpforms-one-fifth {width: 16.8%;}
div.wpforms-container .wpforms-form .wpforms-two-fifths {width: 37.6%;}
div.wpforms-container .wpforms-form .wpforms-three-fifths {width: 58.4%;}
div.wpforms-container .wpforms-form .wpforms-four-fifths {width: 79.2%;}
div.wpforms-container .wpforms-form .wpforms-one-sixth {width: 13.3333333333%;}
div.wpforms-container .wpforms-form .wpforms-five-sixths {width: 82.6666666667%;}
div.wpforms-container .wpforms-form .wpforms-first {clear: both !important;margin-left: 0 !important;}
div.wpforms-container .wpforms-form .wpforms-checkbox-2-columns ul, div.wpforms-container .wpforms-form .wpforms-multiplechoice-2-columns ul, div.wpforms-container .wpforms-form .wpforms-list-2-columns ul, div.wpforms-container .wpforms-form .wpforms-checkbox-3-columns ul, div.wpforms-container .wpforms-form .wpforms-multiplechoice-3-columns ul, div.wpforms-container .wpforms-form .wpforms-list-3-columns ul {display: -ms-flex;display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;}
div.wpforms-container .wpforms-form .wpforms-checkbox-2-columns ul li, div.wpforms-container .wpforms-form .wpforms-multiplechoice-2-columns ul li, div.wpforms-container .wpforms-form .wpforms-list-2-columns ul li {width: 50%;display: block;padding-right: 26px !important;}
div.wpforms-container .wpforms-form .wpforms-checkbox-3-columns ul li, div.wpforms-container .wpforms-form .wpforms-multiplechoice-3-columns ul li, div.wpforms-container .wpforms-form .wpforms-list-3-columns ul li {width: 33.3333%;display: block;padding-right: 26px !important;}
div.wpforms-container .wpforms-form .wpforms-list-inline ul li {display: inline-block;vertical-align: top;margin-right: 20px !important;}
div.wpforms-container .wpforms-form .wpforms-field.wpforms-first-half {float: left;width: 48%;clear: both;}
div.wpforms-container .wpforms-form .wpforms-field.wpforms-last-half {float: right;width: 48%;clear: none;}
div.wpforms-container .wpforms-form .wpforms-field.wpforms-first-third {float: left;width: 30.666666667%;clear: both;}
div.wpforms-container .wpforms-form .wpforms-field.wpforms-middle-third {float: left;width: 30.666666667%;margin-left: 4%;clear: none;}
div.wpforms-container .wpforms-form .wpforms-field.wpforms-last-third {float: right;width: 30.666666667%;clear: none;}